<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxCWlryCYZeF1oF_Ge65P12Vv-l88Nilc</string>
	<key>GCM_SENDER_ID</key>
	<string>319627741366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>benhaas.TodoList</string>
	<key>PROJECT_ID</key>
	<string>swift-todo-f80cd</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-todo-f80cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319627741366:ios:c55256ea62d181a285be17</string>
</dict>
</plist>